

{% extends "base.html" %}
{% block title %} Browse {% endblock %}

{% block content %}
<h1> Browse </h1>
<p></p>

<p>
  {% if g.user != None and g.user.HasPermission('product.add') %}
   <button style="color: rgb(12, 12, 12); background-color: rgb(252, 255, 98);" ><a   href="{{ url_for('add_product') }}">Add Product</a></button> 
  {% endif %}
</p>


  {% for product in products %}
  
    <h3><a href="{{url_for ('product_detail', product_id=product.product_id) }}">{{product.name }}</a></h3> 
    <p>{{ product.description }}</p>
    <p> ${{ product.price }}</p>
 
  {% endfor %}



{% endblock %}

